body{
    margin:0px;
    height:100%;
    width:100%;
}
.right{
   width:50%;
   display:inline-block;
}
img{
     width:50%;
  display:inline-block;
    height:100px;
   
}
.title{
    text-align:center;
}
.mainClass{
    width: 100%;
}
