body{
    margin:0px;
    height:100%;
    width:100%;
}
.right{
   width:50%;
  float:left;
}
.img{
    
 
    height:200px;
    width:150px;
    float:left;
   
}
.title{
    text-align:center;
}
.mainClass{
    width: 100%;
}
